@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity

@model DigiPax.Models.ViewModels.PackDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4 text-primary">
    @Html.DisplayFor(model => model.Pack.Title)
</h1>
<div>
    <hr />
    <div class="row">
        <h2 class="col-sm-12 text-white">
            @Html.DisplayNameFor(model => model.PackSamples):
        </h2>

    </div>
    <div class="row">
        @foreach (var item in Model.PackSamples)
        {
            <h4 class="col-sm-12 text-warning">
                @Html.DisplayFor(modelItem => item.SampleName)
            </h4>
        }
    </div>
</div>
<div>
    <hr/>
    @*<a asp-action="Edit" asp-route-id="@Model.Pack.Id">Edit Pack Title</a>*@
    <br />
    <a asp-action="Index"><i class="fa fa-2x fa-fast-backward"></i></a>
</div>
