@model DigiPax.Models.Pack

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>Pack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @for (var i = 0; i < Model.SampleIds.Count; i++)
            {
                <div class="form-group sample-item">
                    <label asp-for="SampleIds[i]" class="control-label" id="name-label"></label>
                    <select asp-for="SampleIds[i]" asp-items="ViewBag.Samples" class="form-control" id="name-select"></select>
                    <span asp-validation-for="SampleIds[i]" class="text-danger" id="name-span"></span>
                </div>
            }
            <div>
                <div class="form-row"></div>
                <input type="button" value="Add Sample" class="btn btn-primary btn-sm mb-3" id="add-sample" />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
