@model IEnumerable<DigiPax.Models.Pack>
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Packs";
}
<div class="d-flex justify-content-center">
    <h4 class="text-center display-4 text-white pr-5 ">Sample Packs</h4>
    <a class="" asp-action="Create"><i class="far fa-3x fa-plus-square mt-3"></i></a>
</div>

<hr />
<div>
    <h3 class="fa-3x text-primary d-flex justify-content-center">Public Packs</h3>
    <h6 class="d-flex justify-content-center">All user created packs are displayed here...</h6>
    <table class="d-flex table-striped justify-content-center">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="mb-3" style="width: 18rem">
                    <td class="fa-2x">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td class="pl-5 d-flex flex-nowrap">
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle text-white-50 pr-3"></i></a>
                        @if (UserManager.GetUserAsync(User).Result.Id == item.ApplicationUserId)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-1x fa-minus-circle text-danger"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
