@model IEnumerable<DigiPax.Models.Pack>

@{
    ViewData["Title"] = "Packs";
}

<h1>Packs</h1>

<p>
    <a asp-action="Create">Create A Pack</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                <strong>My Packs</strong><hr />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle text-white-50"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-1x fa-minus-circle text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
