@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <i class="fa fa-users"></i>
        <i class="fas fa-music"></i>
        <h1 class="display-4">DigiPax</h1>

    </div>
