@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DigiPax</h1>
</div>
<grid>
    <br />
    <br />
    <br />
    <div class="d-inline-block text-center">
        <i class="fas fa-7x fa-layer-group d-inline-block text-center" aria-hidden="true"></i>
    </div>
    <br />
    <br />
    <br />
    <div class="d-inline-block text-center">
        <i class="fab fa-7x fa-creative-commons-sampling d-inline-block text-center" aria-hidden="true"></i>
    </div>
    <br />
    <br />
    <br />
    <div class="d-inline-block text-center">
        <i class="fas fa-7x fas fa-archive d-inline-block text-center" aria-hidden="true"></i>
    </div>
</grid>



