@model DigiPax.Models.ViewModels.SampleCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sample.SampleName" class="control-label"></label>
                <input asp-for="Sample.SampleName" class="form-control"/>
                <span asp-validation-for="Sample.SampleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sample.SampleTypeId" class="control-label"></label>
                <select asp-for="Sample.SampleTypeId" class="form-control"/>
                <span asp-validation-for="Sample.SampleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sample.GenreId" class="control-label"></label>
                <select asp-for="Sample.GenreId" class="for-control"></select>
                <span asp-validation-for="Sample.GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sample.KeyId" class="control-label"></label>
                <select asp-for="Sample.KeyId" class="form-control"></select>
                <span asp-validation-for="Sample.KeyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Upload an Audio File</p>
                <input type="file" name="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
